@model IEnumerable<BlogSystem.Models.Article>

@{
    ViewBag.Title = "List";
}

<div class="container">
    <div class="row">

        <p>
            @using (Html.BeginForm("Index", "Article", FormMethod.Get))
            {
            <p class="well">
                @Html.TextBox("SearchString", null, new { @class = "search-option col-lg-4" }) <br />
                <input type="submit" name="submit" value="Search" class="filter-bar btn btn-default" />
            </p>
            }
            </p>


        @if (!Request["submit"].IsEmpty())
        {

            foreach (var article in Model)
            {
                <div class="col-md-4 text-center">
                    <div class="well">
                        @Html.ActionLink(article.Title, "Details", "Article", new { @id = article.Id }, new { @class = "article-title" })
                    </div>
                </div>
            }

        }

            @foreach (var article in Model)
            {
                <div class="col-sm-4">
                    <article class="well">
                        <div>
                            <header class="text-center">
                                <h2>
                                    @Html.ActionLink(@article.Title, "Details", "Article", new { @id = article.Id }, null)
                                </h2>
                            </header>
                            <p>
                                @{
                                    string content = article.Content.Substring(0, article.Content.Length < 150 ? article.Content.Length : 150);

                                    if (content.Length >= 150)
                                    {
                                        content += "...";
                                    }
                                }

                                @content
                            </p>
                            <div class="pull-right" id="adjust-read-more">
                                @if (article.Content.Length >= 150)
                                {
                                    @Html.ActionLink("Read more", "Details", "Article", new { @id = article.Id }, new { @class = "btn btn-default btn-xs" })
                                }
                            </div>
                        </div>
                    </article>
                </div>
                                    }
        </div>
    </div>
    <hr />