@model IEnumerable<BlogSystem.Models.Article>

@{
    ViewBag.Title = "List";
}

<div class="container">
    <div class="row">

        <div>
            @using (Html.BeginForm("Index", "Article", FormMethod.Get))
            {
                <div class="well">
                    <div class="inner-addon right-addon">
                        @Html.TextBox("SearchString", null, new { @class = "search-option col-md-4", @placeholder = "Search articles" }) <br />
                        <i class="glyphicon glyphicon-search"></i>
                        <input type="submit" name="submit" value="Search" class="filter-bar btn btn-default" />
                    </div>
                    </div>
            }
        </div>


        @if (!Request["submit"].IsEmpty())
            {

                foreach (var article in Model)
                {
                <div class="col-md-4 text-center">
                    <div class="well">
                        @Html.ActionLink(article.Title, "Details", "Article", new { @id = article.Id }, new { @class = "article-title" })
                    </div>
                </div>
            }

        }

        @foreach (var article in Model)
            {
            <div class="col-md-4">
                <article class="well">
                    <div>
                        <header class="text-center">
                            <h2>
                                @Html.ActionLink(@article.Title, "Details", "Article", new { @id = article.Id }, null)
                            </h2>
                        </header>
                        <p>
                            @{
                                string content = article.Content.Substring(0, article.Content.Length < 145 ? article.Content.Length : 145);

                                if (content.Length >= 145)
                                {
                                    content += "...";
                                }
                            }

                            @content
                        </p>
                        <div class="pull-right" id="adjust-read-more">
                            @if (article.Content.Length >= 145)
                            {
                                @Html.ActionLink("Read more", "Details", "Article", new { @id = article.Id }, new { @class = "btn btn-default btn-xs" })
                            }
                        </div>
                    </div>
                </article>
            </div>
                                }
    </div>
</div>
<hr />